<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora-like Practice Website</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora posts</h1>
    <% for(let post of posts){ %>
    <div class="post">
      <h3 class="user">@<%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
      <div class="buttons">
        <a href="http://localhost:8080/posts/<%=post.id %>" id="view"
          >View in Detail</a
        >
        <a href="http://localhost:8080/posts/<%=post.id %>/edit" id="view"
          >edit</a
        >
        <br />
        <form method="post" action="/posts/<%=post.id %>?_method=DELETE">
          <button id="delete">delete</button>
        </form>
      </div>
    </div>
    <% }%>

    <a id="create" href="http://localhost:8080/posts/new">Create New Post</a>
  </body>
</html>
